@require "helpers"

#content 
	display flex
	flex direction column
	height 100px

.intro-box
	background-color $secondaryColor
	color $white
	flex 1
	margin 15px

.intro-text
	font-family 'SlimJoe'
	margin 15px

.info-box
	background-color $secondaryColor
	color $white
	flex 1
	margin 15px
	margin-top 0