@require "helpers"

@font-face
  font-family 'BigJohn'
  src url("../fonts/Big John.otf") format("opentype")
  
@font-face
  font-family 'SlimJoe'
  src url("../fonts/Slim Joe.otf") format("opentype")
  
body
	display flex
	flex-direction row
	font-family 'SlimJoe'
	height 100vh
	margin 0
	width 100vw

.navbar
	display flex
	flex 1
	flex-direction column
	height 40%
	width 100px

.active
	background-color $mainColor
	padding-left 5px

.active-text
	color $white
	font-size 20px
	text-decoration none
	
.name-box, .page-title-box
	border-left solid 15px $mainColor
	display flex
	flex 1
	flex-direction column
	justify-content center
	margin-bottom 2px
	padding-left 5px

.inactive-text
	color $secondaryColor
	font-size 15px
	text-decoration none

.inactive-text:hover
	font-size 20px

.page-content
	display flex
	flex 4
	flex-direction column
