extends template

block cssSheets
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  .intro-box
    .intro-text Here is some text that would be here as an introduction that I am too lazy to write right now lololol blah blah blah blah blah blah
  .info-box


