extends template

block cssSheets
  link(rel='stylesheet', href='/stylesheets/projects.css')

block content
  .preview-row
    .preview-box
    .preview-box
    .preview-box
  .preview-row
    .preview-box
    .preview-box
    .preview-box
  .preview-row
    .preview-box
    .preview-box
    .preview-box


