doctype html
html
  head
    title= title
    script(src='/js/fetch.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  
  block cssSheets
  
  body
    .navbar
      .name-box(class= (active === 'index') ? 'active' : '')
        a(class=(active === 'index') ? 'active-text' : 'inactive-text' href='/') Sam Pelletier
      .page-title-box(class= (active === 'projects') ? 'active' : '')
        a(class=(active === 'projects') ? 'active-text' : 'inactive-text' href='/projects') Projects
      .page-title-box(class= (active === 'thing2') ? 'active' : '')
        a(class=(active === 'thing2') ? 'active-text' : 'inactive-text' href='/projects') Thing 2
      .page-title-box(class= (active === 'thing3') ? 'active' : '')
        a(class=(active === 'thing3') ? 'active-text' : 'inactive-text' href='/projects') Thing 3

  .page-content 
    block content
    if dev
        script(src='//localhost:10000/livereload.js')