doctype html
html
  head
    title= title
    script(src='/js/fetch.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  
  block cssSheets
  
  body
    .navbar
      .name-box
        a(class='name-text' href='/') Sam Pelletier
      .page-title-box 
        a(class='page-title-text' href='/projects') Projects
      .page-title-box
        .page-title-text Thing 2
      .page-title-box
        .page-title-text Thing 3

  .page-content 
    block content
    if dev
        script(src='//localhost:10000/livereload.js')